/*** COLORS ***/
.footer { background-color: black; }

.footer, .footer * { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
.header-hgroup-title { font-family: "Bauhaus"; }

.header-hgroup-title { font-size: 5em; }
.header-hgroup-name { font-size: 3em; }

.footer,
.header-hgroup { text-align: center; }
/*** END FONTS ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	main { display: flex; flex-direction: column; }
	.header { flex: 1; }
	
	/*** .footer ***/
	.footer {
		padding: 1em;
	}
	
	/*** .header ***/
	.header-hgroup {
		padding: 3em 1em;
	}
	.header-hgroup-title,
	.header-hgroup-name { display: block; }
/*** END COMPONENTS ***/

/*** DECORATION ***/
	/*** .d-tree ***/
	.d-tree {
		position: relative; top: .5em;
	}
/*** END DECORATION ***/

/*** CSS-HACKS ***/
.u-audio {
	width: 70%;
	margin: 3em auto;
	text-align: center;
}
/*** END CSS-HACKS ***/