---
layout: default
---
		<main class="d-cssCentered">
			<aside class="u-maps"><ul class="u-maps-list">
				<li class="u-maps-list-item d-cssCentered"><img src="/assets/images/map_india.png" class="u-maps-img" /></li>
				<li class="u-maps-list-item d-cssCentered"><img src="/assets/images/map_usa.png" class="u-maps-img" /></li>
				<li class="u-maps-list-item d-cssCentered"><img src="/assets/images/map_south-africa.png" class="u-maps-img" /></li>
			</ul></aside>
		
			<section class="u-screen d-cssCentered">
				<div class="u-trees d-cssCentered">
					<header class="u-trees-text">
						<h1 class="u-trees-text-title">#WeTheVoices</h1>
						<figure class="u-trees-text-logo">
							<img src="/assets/images/logo_word_black.png" class="u-trees-text-logo-img" />
						</figure>
					</header>
				
					<img src="/assets/images/trees_opaque.png" class="u-trees-img" />
				</div>
				
				<section class="voices d-cssCentered">
					<h3 class="voices-title">Trending Voices:</h3>
				
					<ul class="voices-list">{% for i in (1..3) %}
						<li class="voices-list-item u-audio">
							<h5 class="voices-question u-audio-caption">Public Voice {{ i }}</h5>
							
							<audio class="voices-audio u-audio-tag" controls>
								<source src="/assets/audios/selected-voice-{{ i }}_wethevoices-dot-babylon19-dot-org.m4a" type="audio/m4a" />
								<source src="/assets/audios/selected-voice-{{ i }}_wethevoices-dot-babylon19-dot-org.mp3" type="audio/mp3" />
								
								The browser does not support audio elements.
							</audio>{% endfor %}
						</li>
					</ul>
					
						<div class="u-audio is-cssHack">
							<h5 class="voices-question u-audio-caption">Public Voice 4</h5>
							
							<audio class="voices-audio u-audio-tag d-animate_audio" controls>
								<source src="/assets/audios/selected-voice-4_wethevoices-dot-babylon19-dot-org.m4a" type="audio/m4a" />
								<source src="/assets/audios/selected-voice-4_wethevoices-dot-babylon19-dot-org.mp3" type="audio/mp3" />
								
								The browser does not support audio elements.
							</audio>
							<p class="u-audio-comment">Wanna listen to all our voices for this batch? Email: <a href="mailto:hello@babylon19.org" class="d-animate_link u-link">hello@babylon19.org</a></p>
						</div>
				</section>
			</section>
			
			<section class="topic">
				<h2 class="topic-title">Parliamentary Debates 2024: <br />"Basic Education Laws Amendment"</h2>
				<div class="topic-comments">{% for comment in site.data.topic-comments %}
					<p class="topic-comments-p">"{{ comment }}"</p>{% endfor %}
				</div>
				
				<div class="topic-commentary u-audio">
					<h5 class="topic-commentary u-audio-caption">State Voice: Senator Angela Sobey</h5>
							
					<audio class="topic-commentary-audio u-audio-tag" controls>
						<source src="/assets/audios/electedechoes_senator-angela-sobey.mp3" type="audio/mp3" />
									
						The browser does not support audio elements.
					</audio>
				</div>
				
				<div class="d-cssCentered">
					<a href="/elected-echoes/" class="u-button d-animate_button">Open the <span class="">State Voice of the Month!</span></a>
				</div>
			</section>
			
			<footer class="footer">
				&copy; Copyrights {{ site.time | split: '-' | first }} <a href="https://babylon19.org" class="u-link">Babylon19</a>. All rights reserved.
			</footer>
		</main>
		
		<!--
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

		<script src="/assets/scripts/wethevoices-dot-babylon19-dot-org.js"></script>
		-->