---
layout: default
---
		<main class="d-cssCentered">
			<aside class="maps"><ul class="maps-list">
				<li class="maps-list-item d-cssCentered"><img src="/assets/images/map_india.png" class="maps-img" /></li>
				<li class="maps-list-item d-cssCentered"><img src="/assets/images/map_usa.png" class="maps-img" /></li>
				<li class="maps-list-item d-cssCentered"><img src="/assets/images/map_south-africa.png" class="maps-img" /></li>
			</ul></aside>
		
			<header class="header d-cssCentered">
				<h1 class="header-title">#WeTheVoices</h1>
				<figure class="header-logo">
					<img src="/assets/images/logo_icon_black.png" class="header-logo-img" />
				</figure>
			</header>
		
			<img src="/assets/images/trees_opaque.png" class="trees" />
			<section class="voices d-cssCentered">
				<h2 class="voices-title">Voice of the Week:</h2>
			
				<audio class="voices-audio" controls>
					<source src="/assets/audios/voiceoftheweek_wethevoice-dot-babylon19-dot-org.m4a" type="audio/m4a" />
					<source src="/assets/audios/voiceoftheweek_wethevoice-dot-babylon19-dot-org.mp3" type="audio/mp3" />
					
					The browser does not support audio elements.
				</audio>
			</section>
			
			<footer class="footer">
				&copy; Copyrights {{ site.time | split: '-' | first }} <a href="https://babylon19.org" class="u-link">Babylon19</a>. All rights reserved.
			</footer>
		</main>